<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to To do list</title>
</head>
<body>
    <%- include("static/header.ejs") %>
    <h1>Welcome to to-do list Web-App</h1>
    <p class="content_p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, perferendis excepturi,<br> impedit unde distinctio nemo quos velit nesciunt rerum quae autem dolorum similique officiis beatae saepe, <br>Minima itaque pariatur mollitia rem, deleniti quasi illo exercitationem animi possimus odit inventore a numquam.</p>
    <%- include("static/footer.ejs") %>
</body>
</html>