*{
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(235deg,#fbeee6,#ffe5d8);
}
h1{
    text-align: center;
    margin-top: 30px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
}
.content_p{
   text-align: center;
   margin-top: 40px;
   font-size: 1.5rem;
}
.day{
    display: flex;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    justify-content: space-evenly;
    text-align: center;
    word-spacing: 10px;
    width: 200px;
    height: 60px;
    border-radius: 10px;
    background-color: #ffcad4;
    font-size: 1.5rem;
    font-family: 'Times New Roman', Times, serif;
    align-items: center;
    justify-content: center;
}
.list{
    margin:auto;
    margin-top:10px;
    width: 400px;
    border-radius: 10px;
    font-size: 20px;
    font-family: sans-serif;
}
.input{
    width: 290px;
    height: 40px;
    border-radius: 10px;
    font-size: 20px;
    margin-top: 5px;
}
.add{
    width: 60px;
    height: 43px;
    font-size: 24px;
    border-radius: 10px;
    margin-left: 15px;
    cursor: pointer;
    border: none;
    background-color: #b35667;
    color: #fbeee6;
}
.add1{
    width: 60px;
    height: 40px;
    font-size: 24px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    background-color: #b35667;
    color: #fbeee6;
}
.X{
    text-decoration: line-through;
}
.box{
    margin-right: 5px;
}
.y{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 500px;
}
h2{
    margin-right: 20px;
    width: auto;
}


a{
    text-decoration: none;
    color: black;
}
a:hover{
    color:#b35667;
}
.clear{
    margin: 0;
    padding: 0;
    margin-left: 10px;
    width: 60px;
    height: 40px;
    border-radius: 5px;
    border: none;
}