<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="public/content.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="nav-bar">
        <div class="nav-content1">TO-DO LIST</div>
         <div class="nav-content2">
        <div class="nav-content"><a href="/">Home</a></div>
        <div class="nav-content"><a href="/work"> Work</a></div>
        <div class="nav-content"><a href="/GeneralTask">GeneralTask</a></div>
        </form>
        </div>
    </div>
</body>
</html>